{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} tab icon  {% endcomment %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/oj-logo-1.png' %}">
    {% comment %} tailwind-css {% endcomment %}
    <script src="https://cdn.tailwindcss.com"></script>
    {% comment %} jquery {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    {% block css %}
    {% endblock css %}
</head>
<body class="bg-neutral-800">
    {% block body %}

    {% endblock body %}
    {% block script %}
    {% endblock script %}
</body>
</html>