{% extends 'base.html' %}
{% block title %}
Home | OJ
{% endblock title %}
{% block body %}
{% include 'navbar.html' %}
  <div class="h-96 pt-14 text-8xl text-center bg-neutral-800 text-white"> 
    {% if messages %}
    {% for message in messages %}
    <div class="text-lg bg-green-300 text-green-900" role="alert" >
    {{ message }} 
    {% comment %} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button> {% endcomment %}
    </div>
    {% endfor %}
  {% endif %}
    About US
  </div>
{% include 'footer.html' %}
{% endblock body %}