{% extends 'base.html' %}

{% block title %}
Login | OJ
{% endblock title %}

{% block body %}
{% include 'navbar.html' %}
{% if messages %}
{% for message in messages %}
<div class="text-lg bg-green-300 text-green-900 absolute bottom-0 m-4 px-8 rounded max-w-md min-h-[4rem] flex flex-row items-center" id="message" role="alert" >
  <div class="text-center">
  {{ message }}
</div>
<button class="close font-semibold p-2 ml-2 hover:font-bold" onclick="myFunction()">X</button>
</div>
{% endfor %}
{% endif %}

<section class="h-screen bg-neutral-800 grid place-items-center">
    <div class="w-3/5 h-3/5 p-0.5 bg-gradient-to-r from-blue-500 to-purple-500 rounded-lg">
    <div class="w-full h-full bg-neutral-700 flex flex-row rounded-lg hover:shadow-lg hover:shadow-blue-500/50">
        <div class="basis-1/2 text-white text-center">
            <div class="text-4xl font-semibold m-8">Welcome Back</div>

            <div class="w-full grid place-items-center my-8 ">
                <form class="w-2/3" action="{% url 'judge:login_check' %}" method="post">
                    {% csrf_token %}
                    <div class="relative z-10 text-left">
                        <input type="text" name="username" class="w-full p-1 text-white-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-600 my-4 focus:outline-none z-20 relative peer" placeholder=" " required>
                        <label for="" class="block w-full absolute top-0 text-xs text-blue-500 peer-placeholder-shown:text-center peer-focus:text-left peer-placeholder-shown:text-gray-400 peer-placeholder-shown:translate-y-6 peer-placeholder-shown:text-base peer-focus:text-xs peer-focus:translate-y-0 peer-focus:text-blue-500 trasition-all duration-300">
                            Username</label>
                    </div>
                    <div class="relative z-10 text-left">
                        <input type="password" name="password" class="w-full p-1 text-white-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-600 my-4 focus:outline-none z-20 relative peer" placeholder=" " required>
                        <label for="" class="block w-full absolute top-0 text-xs text-blue-500 peer-placeholder-shown:text-center peer-focus:text-left peer-placeholder-shown:text-gray-400 peer-placeholder-shown:translate-y-6 peer-placeholder-shown:text-base peer-focus:text-xs peer-focus:translate-y-0 peer-focus:text-blue-500 trasition-all duration-300">
                            Password</label>
                    </div>
                    <button type="submit"
                        class="text-white bg-blue-600 rounded-md py-2 px-6 my-4 hover:bg-blue-700">Login</button>
                </form>
            </div>

            <hr class="w-1/2 p-px mx-auto my-4 bg-gray-500 border-0 rounded">

            
            <div class="text-sm">Get your account now! <a href="{% url 'judge:register' %}"
                class="text-blue-500 hover:underline">Register</a></div>

        </div>
        <div class="basis-1/2 rounded-r-lg bg-center bg-cover" style="background-image: url(/static/images/login.png);">
        </div>
    </div>
    </div>
</section>

{% block script %}
<script>
    function myFunction() {
      document.getElementById("message").style.display = "none";
    }
</script>
{% endblock script %}

{% endblock body %}