{% load static %}
<nav class="p-2 bg-neutral-700 border-gray-700 absolute top-0 left-0 w-full z-50">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="{% url 'judge:index' %}" class="flex items-center ml-4">
        <img src="{% static 'images/oj-logo-1.png' %}" class="h-6 pr-3 sm:h-9" alt="Flowbite Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap text-white">ONLINE JUDGE</span>
    </a>
    <div class="flex items-center md:order-2 mr-4">
      {% if request.user.is_authenticated %}
      <button type="button" class="flex mx-2 text-sm bg-neutral-600 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-600">
        <div  class="mx-2 text-base font-semibold text-white">Hi, {{user.first_name | title}} </div>
        <img class="w-8 h-8 rounded-full border-2 border-blue-700" src="{% static 'images/user-1.png' %}" alt="user photo">
      </button>
      <a href="{% url 'judge:logout' %}" class="text-base px-2 font-medium text-blue-500 hover:underline">Logout</a>
      {% else %}
      <a href="{% url 'judge:login' %}" class="text-base px-2 font-medium text-blue-500 hover:underline">Login</a>
      <a href="{% url 'judge:register' %}" class="text-base px-2 font-medium text-blue-500 hover:underline">Register</a>{% endif %}
        
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
      <ul class="flex flex-col text-white bg-blue-700 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 bg-neutral-700">
        <li>
          <a href="{% url 'judge:index' %}" class="block py-2 pl-3 pr-4  md:bg-transparent md:p-0 hover:text-blue-600" id="home">Home</a>
        </li>
        <li>
          <a href="{% url 'judge:problems' %}" class="block py-2 pl-3 pr-4  md:bg-transparent md:p-0 hover:text-blue-600" id="problems">Problems</a>
        </li> 
        <li>
          <a href="{% url 'contestApp:index' %}" class="block py-2 pl-3 pr-4  md:bg-transparent md:p-0 hover:text-blue-600" id="contests">Contests</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4  md:bg-transparent md:p-0 hover:text-blue-600" id="contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


