{% extends 'base.html' %}

{% block title %}
Problems | OJ
{% endblock title %}

{% block body %}
{% include 'navbar.html' %}
{% if request.user.is_authenticated %}
<div class="flex flex-row pt-12 h-screen" style="background-color:#1A1A1A">
<div class="basis-1/2">
  <h1 class="text-center text-2xl font-bold p-2 text-white">Problems</h1>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs uppercase text-gray-400 bg-black" style="border-bottom:2px solid white">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Problem name
                </th>
                <th scope="col" class="px-6 py-3">
                    Difficulty
                </th>
                <th scope="col" class="px-6 py-3">
                    status
                </th>
                <th scope="col" class="px-6 py-3">
                    Accuracy
                </th>
            </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
            <tr class="{% if forloop.counter|divisibleby:2 %}bg-transparent{% else %}bg-[#2A2A2A]{% endif %}">
                <th scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href={% url 'judge:problem' problem.id %}> 
                        {{problem.problem_name|title}}
                      </a>
                </th>
                <td class="px-6 py-2">
                    {{problem.problem_difficulty|title}}
                </td>
                <td class="px-6 py-2">
                    Unsolved
                </td>
                <td class="px-6 py-2">
                    100%
                </td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock body %}
