{% extends 'base.html' %}

{% block title %}
Problems | OJ
{% endblock title %}

{% block body %}
{% include 'navbar.html' %}
<div class="flex flex-row justify-center pt-12 h-screen">
<div class="w-1/2">
  <h1 class="text-center text-2xl font-bold p-4 text-white">Problems</h1>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs uppercase text-gray-400 bg-black" style="border-bottom:2px solid white">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Problem name
                </th>
                <th scope="col" class="px-6 py-3">
                    Difficulty
                </th>
                <th scope="col" class="px-6 py-3">
                    status
                </th>
                <th scope="col" class="px-6 py-3">
                    Accuracy
                </th>
            </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
            <tr class="{% if forloop.counter|divisibleby:2 %}bg-transparent{% else %}bg-[#2A2A2A]{% endif %}">
                <th scope="row" class="px-6 py-2 font-medium whitespace-nowrap text-white hover:text-blue-500">
                    <a href={% url 'judge:problem' problem.id %}> 
                        {{problem.problem_name|title}}
                      </a>
                </th>
                <td class="px-6 py-2 {% if problem.problem_difficulty == 'easy' %}text-lime-500 {% elif problem.problem_difficulty == 'medium' %}text-yellow-600 {% else %}text-red-700 {% endif %}  ">
                    {{problem.problem_difficulty|title}}
                </td>
                <td class="px-6 py-2">
                    Unsolved
                </td>
                <td class="px-6 py-2">
                    100%
                </td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
<script>
    document.getElementById('problems').classList.add("text-blue-600", "border-0" ,"border-b-2" ,"border-blue-600");
  </script>
{% endblock body %}
