{% extends 'base.html' %}
{% load static %}

{% block title %}
{{problem.problem_name | capfirst}} | OJ
{% endblock title %}
{% block css %}
<style>
    legend {
        max-width: 170px;
    }

    ::selection {
        color: rgb(255, 255, 255);
        background: rgb(58, 150, 255);
    }

    ::-webkit-scrollbar {
        width: 5px;
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb {
        height: 2px;
        background-color: rgb(30, 30, 30);
    }
    
</style>
{% endblock css %}

{% block body %}
{% include 'navbar.html' %}
<div class="flex flex-row w-auto bg-neutral-800 text-white">
    <div class="basis-1/2 h-screen overflow-y-auto px-4">
        <div class="text-base mt-16"><button class="bg-blue-600 px-4 py-1 rounded" onclick="history.go(-1)">&#8592; Back</button></div>
        <div class="text-lg font-bold">{{ problem.problem_name|title }}</div>
        <div class="my-2">Easy</div>
        <div class="leading-loose my-8 whitespace-pre-line" id="problem-desc"></div>

        {% comment %} <div class="my-8">
            <div class="text-lg">Example 1:</div>
            <div class="container bg-neutral-700 rounded-md p-4">
                <div><span>Input : </span>nums = [2,7,11,15], target = 9</div>
                <div><span>Output : </span>[0,1]</div>
                <div><span>Explanation : </span>Because nums[0] + nums[1] == 9, we return [0, 1].</div>
            </div>
        </div>
        <div class="my-8">
            <div class="text-lg">Example 2:</div>
            <div class="container bg-neutral-700 rounded-md p-4">
                <div><span>Input : </span>nums = [2,7,11,15], target = 9</div>
                <div><span>Output : </span>[0,1]</div>
                <div><span>Explanation : </span>Because nums[0] + nums[1] == 9, we return [0, 1].</div>
            </div>
        </div> {% endcomment %}
        <div class="my-8">
            <div class="text-lg">Example 3:</div>
            <div class="container bg-neutral-700 rounded-md p-4">
                <div><span>Input : </span>nums = [2,7,11,15], target = 9</div>
                <div><span>Output : </span>[0,1]</div>
                <div><span>Explanation : </span>Because nums[0] + nums[1] == 9, we return [0, 1].</div>
            </div>
        </div>
    </div>
    <div class="flex flex-col basis-1/2 h-screen overflow-y-auto pt-14 border-2 border-neutral-900">
        <div class="w-full flex flex-col h-3/4 px-2">
            <div class="flex-1 text-sm">
                <div id="editorCode" class="relative h-full w-full inset-0 text-lg rounded"></div>
            </div>
        </div>
        <div class="flex flex-row justify-between bg-green-200 text-green-900 p-2 m-2 rounded hover:font-bold hidden" id="success" >
            <div class="mx-2">Submission Accepted </div>
            <button class="close font-semibold mx-2 hover:font-bold" onclick="myFunction()">X</button>
        </div>
        <div class="flex flex-row justify-between bg-red-300 text-red-900 p-2 m-2 rounded hover:font-bold hidden" id="failure" >
            <div class="mx-2" id="msg">Wrong Submission </div>
            <button class="close font-semibold mx-2 hover:font-bold" onclick="myFunction()">X</button>
        </div>
        <div class="flex flex-row p-2">
            <div class="basis-1/2">Try custom input below</div>
            <button type="button" class="basis-1/4 rounded bg-green-500 py-2 font-semibold relative" id="compile">
                <div role="status" class="grid place-items-center inline absolute inset-0 m-auto hidden" id="compiling">
                    <svg aria-hidden="true" class="w-8 h-8 mr-2  animate-spin fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                    </svg>
                </div>Compile and Run</button>
            <button type="button" class="basis-1/4 rounded bg-green-500 mx-2 py-2 font-semibold relative" id="submit">
                <div role="status" class="grid place-items-center inline absolute inset-0 m-auto hidden spinner" id="submitting">
                    <svg aria-hidden="true" class="w-8 h-8 mr-2  animate-spin fill-blue-600 " viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                    </svg>
                </div>Submit</button>
        </div>
        <div class="flex flex-row justify-between p-2 bg-">
            <textarea id="input" rows="4" class="basis-1/2 text-sm text-[#9ca3a5] rounded-l-md p-2 bg-neutral-700 border-r-2 border-neutral-800" placeholder="Custom Input" style="outline:none;" value=" "></textarea>
            <div class="whitespace-pre-line basis-1/2 rounded-r-md p-2 bg-neutral-700 text-[#9ca3a5] text-sm border-l-2 border-neutral-800 overflow-y-auto h-32" id="output">Output</div>
        </div>
    </div>

</div>
{% endblock body %}
{% block script %}

<script src="{% static 'js/src-min/ace.js' %}"></script>
<script src="{% static 'js/src-min/mode-javascript.js' %}"></script>
<script src="{% static 'js/editor.js' %}"></script>

<script>
    let desc_container = document.getElementById('problem-desc');
    desc_container.innerHTML = "{{ problem.problem_desc}}";

    function myFunction() {
        document.getElementById("failure").style.display = "none";
        document.getElementById("success").style.display = "none";
    }


    const submitBtn = document.getElementById("submit");
        submitBtn.addEventListener('click', 
            () => {
                var code = codeEditor.getValue(); // Get the code from the Ace editor
                console.log(code)
                var url = "/contest/submit/"+{{problemId}}+"/"; // Replace with your API endpoint URL
                const csrftoken = Cookies.get('csrftoken');

                submitBtn.disabled = true;
                document.getElementById('submitting').style.display="grid";
                submitBtn.classList.add("text-gray-500","bg-gray-700");

                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify({ code: code }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function (response) {
                        console.log(response.result);
                        if(response.result == "AC")
                            document.getElementById("success").style.display="flex";
                        else if(response.result == "CE")
                        {
                            document.getElementById("failure").style.display="flex";
                            document.getElementById("msg").innerHTML="Compilation error";

                        }
                        else if(response.result == "WA")
                        {
                            document.getElementById("failure").style.display="flex";
                            document.getElementById("msg").innerHTML="Wrong Submission ";

                        }
                        else
                        {
                            document.getElementById("failure").style.display="flex";
                            document.getElementById("msg").innerHTML="Some problem occured while submitting.";

                        }
                        

                        submitBtn.disabled = false;
                        document.getElementById('submitting').style.display="none";
                        submitBtn.classList.remove("text-gray-500","bg-gray-700");
                    },
                    error: function (error) {
                        console.log(error);
                    }
            });
    })


    const compileBtn = document.getElementById('compile');
    compileBtn.addEventListener('click',
        () => {
            {% comment %} console.log("hello"); {% endcomment %}
            var code = codeEditor.getValue();
            var input = document.getElementById('input').value;
            
            const data = new URLSearchParams({
                'code': code,
                'language': 'cpp',
                'input': input,
            });
            
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: data,
            };

            compileBtn.disabled = true;
            document.getElementById('compiling').style.display="grid";
            compileBtn.classList.add("text-gray-500","bg-gray-700");
            document.getElementById('output').innerHTML = 'Output:\n';


            fetch('https://api.codex.jaagrav.in', options)
            .then(response => response.json())
            .then(data => 
                {
                    {% comment %} console.log(JSON.stringify(data)); {% endcomment %}
                    let out = document.getElementById('output');
                    if(data.error)
                        out.innerHTML = '<span class="text-red-600 text-sm">Compilation error!!</span>\n' + data.error;
                    else
                        out.innerHTML = 'Output:\n' + data.output;
                    compileBtn.disabled = false;
                    document.getElementById('compiling').style.display="none";
                    compileBtn.classList.remove("text-gray-500","bg-gray-700");
                })
            .catch(error => console.log(error));

        }
    );
</script>

{% endblock script %}