{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'navbar.html' %}
<div class="relative flex flex-row justify-around " style="background-image: linear-gradient(#0054c6, #262626)">
    <div class="w-72 h-72 mt-16"
    style="background-image: url(/static/images/trophy-removebg-preview.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size:contain">
    </div>
    <div class="grid grid-cols-2 w-2/3 mx-auto absolute top-72">
        {% for contest in contests %}
        <div class="flex flex-row justify-around m-4">
            <div class="w-96 h-72 rounded flex flex-col align relative" style="background-image: url(/static/images/contest-back.jpg);background-size:contain ">
                <div class="bg-neutral-900 text-white absolute bottom-0 w-full p-2 rounded-b">
                    <div class="font-bold text-lg"><a href="{% url 'contestApp:contest' contest.id %}">
                        {{contest.name|title}} </a>
                    </div>
                    <div class="my-2">{{contest.start_time}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    document.getElementById('contests').classList.add("text-blue-600", "border-0" ,"border-b-2" ,"border-blue-600");
  </script>
{% endblock body %}